/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #023E73;
  background-color: #f2f2f2;
}

h1 {
  font-weight: 700;
  font-size: 36px;    
  margin-bottom: 10px;
  padding-top: 50px;
}

h2{
  font-size: 20px;
  margin-bottom: 70px;
}

/* Estilos para el formulario de inicio de sesión */
.container-login100 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0F5FA6;
}

.wrap-login100 {
  width: 390px;
  background-color: #ffffff;

  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  margin-bottom: 30px;
  padding: 0px 55px 55px;
}

.input100 {
  border: none;
  border-bottom: 2px solid #d9d9d9;
  outline: none;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 30px;
}

.input100:focus {
  border-color: #023E73;
}

.focus-input100::before {
  content: attr(data-placeholder);
  font-size: 16px;
  color: #023E73;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.3s ease;
}

.input100:focus + .focus-input100::before {
  color: #023E73;
  transform: translateY(-130%);
}

.btn-primary {
  background-color: #023E73;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-bottom: -20px;
}

.btn-primary:hover {
  background-color: #023E73;
}

.new-product {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 13px;
  color: red;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
}
